[MACRO]
  ALL                   = FAMILY15H|FAMILY17H
  FAMILY17H             = RV|ZP|SSP|MTS|RN
  FAMILY15H             = AM4BR
  AM4                   = AM4BR|AM4SM|AM4RV|AM4MTS|AM4RN
  RV                    = AM4RV|FP5RV|FT5RV
  ZP                    = AM4SM|SP4SM|SP3ZP|SP4ZP|SP3TR
  SSP                   = SP3SSP|SP3CP
  MTS                   = AM4MTS
  RN                    = AM4RN|FP6RN
[ENDMACRO]